<!DOCTYPE html>
<html>
    <head>
        <link rel=stylesheet href=static/style.css type=text/css>
        <link rel="icon" href="static/logo.png" type="image/x-icon"/>
        <meta name="viewport" content="width=device-width">
        <title>Twarble</title>
        <script src=static/speech.js></script>
    </head>
    <body>
        <nav>
            <img src=static/logo.png width=50px>
            <a href='/' style='float:none;font-size:30px;font-weight:500;vertical-align:middle;'>twarble</a>
            <a href='/about'>About</a>
            <a href='/chat'>Chatroom</a>
        </nav>
        <div id = messageContainer>
            <div class=card style='text-align:center;'>
                <form method=POST>
                    <textarea name='text'>Write a message...</textarea>
                    <br><br>
                    <input type=submit id=submitSynonym value='Submit'>
                </form>
            </div>
            <br>
            {% for post in posts %}
            <div class=card style='position:relative'>
                <p class=message>{{post.content}}</p>
                <a class='tweet-link' onclick='document.getElementById("{{post.id}}").style="block";'>View Original</a>
                <svg style = 'position:absolute;top:6px;right:6px;' onclick='speakText2("{{post.content}}")' xmlns="http://www.w3.org/2000/svg" version="1.0"  width="25" height="25" viewBox="0 0 75 75">
                    <path d="M39.389,13.769 L22.235,28.606 L6,28.606 L6,47.699 L21.989,47.699 L39.389,62.75 L39.389,13.769z"
                    style="stroke:#777;stroke-width:5;stroke-linejoin:round;fill:#777;"
                    />
                    <path d="M48,27.6a19.5,19.5 0 0 1 0,21.4M55.1,20.5a30,30 0 0 1 0,35.6M61.6,14a38.8,38.8 0 0 1 0,48.6" style="fill:none;stroke:#777;stroke-width:5;stroke-linecap:round"/>
                </svg>
                <p class=message id='{{post.id}}' style='display:none;'>{{post.original}}</p>
                <p class=handle>{{post.timestamp}}</p>
            </div>
            <br>
            {% endfor %}
        </div>
    </body>
</html>